<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>index</th>
            <th>category</th>
            <th>linkedin</th>
            <th>profile_picture</th>
            <th>description</th>
            <th>Experience</th>
            <th>Name</th>
            <th>position</th>
            <th>location</th>
            <th>skills</th>
            <th>clean_skills</th>
          </tr>
        </thead>
        <tbody>
          {% for d in data %}
          <tr>
            <td>{{ d[0] }}</td>
            <td>{{ d[1] }}</td>
            <td>{{ d[2] }}</td>
            <td>{{ d[3] }}</td>
            <td>{{ d[4] }}</td>
            <td>{{ d[5] }}</td>
            <td>{{ d[6] }}</td>
            <td>{{ d[7] }}</td>
            <td>{{ d[8] }}</td>
            <td>{{ d[9] }}</td>
            <td>{{ d[10] }}</td>
            <td>{{ d[11] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="container-form">
      <form method="POST">
        <div class="container-input">
          <label>Year:</label>
          <input type="text" name="index" id="" />
        </div>
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
