<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/create.css">
</head>
<body>
    <div class="container">
        <div class="container-form">
            <form method="POST" action="/validate">
              <div class="container-input">
                <label>OTP:</label>
                <input type="text" name="otp" id="" />
              </div>
              <button>Submit</button>
            </form>
          </div>
    </div>
</body>
</html>