<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/update.css">
</head>
<body>
    <div class="container">
        <div class="container-form">
            <form method="PUT">
                <h3>Where</h3>
              <div class="container-input">
                <label>Year:</label>
                <input type="text" name="year" id="" />
              </div>
              <div class="container-input">
                <label>state_abbr:</label>
                <input type="text" name="state_abbr" id="" />
              </div>
              <br>
              <h3>Change Value</h3>
              <div class="container-input">
                <label>state_name:</label>
                <input type="text" name="state_name" id="" />
              </div>
              
              <button>Submit</button>
            </form>
          </div>
    </div>
</body>
</html>